<div class="page-content green col-6">
  <h3>
    Caravan is a card game from Fallout New Vegas
    that I've enjoyed so I decided to program it.

    <br/><br/>

    This is a two player game that can be thought of as being
    similar to blackjack, but times three as shown below.

    <br/><br/>
    <%= image_tag 'overview.png', class: 'game-image img-fluid' %>
    <br/><br/>

    There are six tracks total, three to each player. Each track
    has a number value that's derived from the cards on that track.

    <br/><br/>

    The goal is to get your tracks into bidding range, 21 to 26, in order
    to sell the track. The game is over when there are three sales total.
    Whoever has the majority of the sales wins.

    <br/><br/>

    Caravan is somewhat based on luck in that you'll be drawing cards from a deck,
    but it's largely based on deck composition and know how.
    Players will need to choose cards to add to their personal deck. The options
    are as follows:
    <br/><br/>
    Number cards 1 through 10 of all suits.
    <br/>
    Kings of all suits.
    <br/>
    Jacks of all suits.

    <br/><br/>

    There is a maximum of 3 of each of the above listed cards and a maximum
    of 50 cards total that one can have in their deck.
    Each player will need to have a minimum of 15 cards in their deck to play.

    <br/><br/>

    Each player will have a hand of 5 cards, unless they're running out of cards,
    in which case that player loses.

    <br/><br/>

    Tracks can have the following states:
    <br/><br/>
    forSale: Having a value below 21.
    <br/><br/>
    Sold: Being in bidding range (21 to 26).
    <br/><br/>
    Tied: Being in bidding range (21 to 26), but being tied with your opponents track.
    <br/><br/>
    Outbid: Being in bidding range (21 to 26), but the opposing track is also in bidding range
    and of a higher value.
    <br/><br/>
    Bust: Over 26.

    <br/><br/><br/>

    Face Cards<br/><br/>
    Kings can be placed on any number card, including your opponent's.
    Kings inherit the number value that they're placed on and contribute to
    the track's value, shown below.
    <br/><br/>

    <%= image_tag 'placedking.png', class: "game-image img-fluid" %>

    <br/><br/>

    The king has been placed on top of the seven card, which makes the total 24.

    <br/><br/>

    Jacks remove the number card that they're placed on, along with any kings that are placed
    on that card. Jacks can be used on both your cards and your opponent's cards.

    <br/><br/>

    In the above example, a jack could be used to remove the seven card, which would also
    remove the king thats on top of it. Or it could be used to remove the ten card below it.

    <br/><br/><br/>

    Direction<br/>
    All tracks have a direction, the default being flat. Direction will be going up if the
    last card's value is higher then the card before it. The direction will be going down
    if the last card's value is lower then the card before it.
    <br/><br/>
    Flat:<br/>
    If the tracks direction is flat, then any number card of any suit can be placed.
    <br/><br/>
    Down:<br/>
    If the tracks direction is going down, then the player will need a card that's of a lower
    value then the last card in said track, or a card of the same suit as the last card to
    place a card on the track.
    <br/><br/>
    Up:<br/>
    If the tracks direction is going up, then the player will need a card that's of a higher
    value then the last card in said track, or a card of the same suit as the last card to
    place a card on the track.

    <br/><br/><br/>

    Closing thoughts<br/>
    If you know how to play caravan, you may have noticed that I made a few minor changes.
    I did this for balance purposes. Think of the changes as house rules. Also, I made this
    app for learning purposes, not to make a PERFECT recreation of caravan.
  </h3>
</div>

<br/><br/><br/><br/><br/>
