<div class="page-content green">
  <h3>Set your deck</h3>

  <br/>
    <%= react_component("CardBack") %>
  <br/>

  <% url = url_for :only_path => false, :overwrite_params => {}  %>
  <%= react_component("SetDeck", { setDeckUrl: url, cards: current_user.cards, flipChars: true }) %>
</div>
