<div class="page-content green">

  <%= link_to "End match", game_path(@game), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary green" %>

  <br/>

  <h1>
    <%= "game id: #{@game.id}" %>
  </h1>

  <div>
    <%= react_component("Game", { initialGame: @game }) %>
  </div>

</div>
