@import "bootstrap/scss/bootstrap";
@import "font-awesome";

.header-color {
  background-color: rgba(24, 21, 22, 0.9);
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftward-header-elements {
  margin-left: 15px;
}

body {
  background-color: rgba(32, 32, 32, 0.9);
}

.green {
  color: #00C122;
}

.box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
  background-color: rgba(24, 21, 22, 0.9);
}

.top-margin {
  margin-top: 80px;
}

.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.user-notice {
  margin-top: 30px;
}

.header-info {
  margin-bottom: 3px;
}

.link:hover {
  color: rgb(14, 73, 168);
}

.page-content {
  margin-left: 20px;
}

.host-match-btn {
  background-color: transparent;
  border-color: transparent;
  font-weight: 600;
}

.host-match-btn:hover {
  color: rgb(14, 73, 168);
  text-decoration: underline;
}

.cursor:hover {
  cursor: pointer;
}

.added-to-deck {
  color: rgb(77, 108, 211);
}

.card-option-box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
  background-color: rgba(24, 21, 22, 0.9);
  margin-top: 30px;
}

.set-deck-card-placement {
  margin-top: 15px;
}

.player-status {
  width: 300px;
}

.image-size {
  height: 200px;
  border-radius: 5px;
}

.end-match-btn {
  width: 140px;
}

.hand-card {
  margin: 10px;
}

.track {
  min-height: 240px;
  min-width: 180px;
  padding: 20px;
}

.empty-track {
  min-height: 205px;
  min-width: 140px;
  background-color: rgba(39, 34, 36, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.tracks {
  display: flex;
}

.deck-card-count {
  margin-left: 55px;
}

.deck {
  margin-left: 1110px;
}

.hand {
  margin-left: 800px;
  position: absolute;
  z-index: 1;
  display: flex;
}

.player-two-hand {
  margin-top: 50px;
}

.player-one-hand {
  margin-top: -290px;
}

.box-small {
  border: 2px solid;
  border-color: #00C122;
  background-color: rgba(24, 21, 22, 0.9);
  margin: 5px;
  border-radius: 3px;
}

.stack-downward {
  margin-bottom: -150px;
}

.stack-upward {
  margin-bottom: -250px;
}

.king {
  margin-left: -85px;
}

.end-game-message-box {
  padding: 10px;
  border: 3px solid;
  border-color: #00C122;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 500px;
  min-height: 380px;
  width: 800px;
  z-index: 2;
  position: absolute;
}

.end-game-message-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-set-deck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-deck-width {
  width: 400px;
}
