@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// header
.header-color {
  background-color: rgba(24, 21, 22, 0.9);
}
  
// footer
.footer {
  background-color: rgba(24, 21, 22, 0.9);
  color: #00C122;
  flex-shrink: 0; // contributes to sticky footer behavior
  padding: 20px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftward-footer-elements {
  margin-left: 10px;
}

// what drives the sticky footer behavior

.content {
  flex: 1 0 auto;
}

html, body {
  height: 100%;
}

body {
  background-color: rgba(32, 32, 32, 0.9);
  display: flex;
  flex-direction: column;
}

// everything else

.green {
  color: #00C122;
}

.box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
  background-color: rgba(24, 21, 22, 0.9);
}

.top-margin {
  margin-top: 80px;
}

.container {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.user-notice {
  margin-top: 30px;
}

.link {
  font-size: 18px;
}

.link:hover {
  color: rgb(14, 73, 168);
}

.page-content {
  margin-left: 20px;
}

.host-match-btn {
  background-color: transparent;
  border-color: transparent;
  font-weight: 600;
}

.host-match-btn:hover {
  color: rgb(14, 73, 168);
  text-decoration: underline;
}

.cursor:hover {
  cursor: pointer;
}

.added-to-deck {
  color: rgb(77, 108, 211);
}

.card-option-box {
  padding: 10px;
  border: 2px solid;
  border-color: #00C122;
  border-radius: 10px;
  background-color: rgba(24, 21, 22, 0.9);
  margin-top: 30px;
  max-width: 300px;
}

.set-deck-card-placement {
  display: inline-block;
  margin-top: 15px;
}

.player-status {
  width: 300px;
}

.image-size {
  height: 200px;
  border-radius: 5px;
}

.end-match-btn {
  width: 140px;
}

.hand-card {
  margin: 10px;
}

.track {
  min-height: 300px;
  min-width: 210px;
  padding: 20px;
}

.empty-track {
  min-height: 230px;
  min-width: 150px;
  background-color: rgba(39, 34, 36, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.tracks {
  display: flex; // keeps the tracks from shifting around when placing cards on them
}

.deck-card-count {
  margin-left: 55px;
}

.deck {
  margin-left: 1110px;
}

.hand {
  margin-left: 800px;
  position: absolute;
  z-index: 1;
  display: flex; // keeps hand cards from shifting around on smaller screen sizes
}

.player-two-hand {
  margin-top: 50px;
}

.player-one-hand {
  margin-top: -290px;
}

.box-small {
  border: 2px solid;
  border-color: #00C122;
  background-color: rgba(24, 21, 22, 0.9);
  margin: 5px;
  border-radius: 3px;
}

.stack-downward {
  margin-bottom: -150px;
}

.stack-upward {
  margin-bottom: -250px;
}

.king {
  margin-left: -55px;
}
